/target/
.project
.settings/
.vscode/
.classpath
.factorypath
.idea
.DS_Store
**/*.iml
api/target/
client/api/target/
client/spec/target/
client/target/
client/tck/target/
full/api/target/
full/spec/target/
full/target/
full/tck/target/
server/api/target/
server/spec/target/
server/target/
server/tck/target/
spec/target/
tck/target/