/target/
.project
.settings/
.vscode/
.classpath
.factorypath
.idea
.DS_Store
**/*.iml
/api/target/
/client/target/
/client/api/target/
/client/spec/target/
/client/tck/target/
/full/target/
/full/api/target/
/full/tck/target/
/full/spec/target/
/server/target/
/server/api/target/
/server/spec/target/
/server/tck/target/
/spec/target/
/tck/target/