## This allows Github actions to build this project
name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    name: build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v2.3.4
        name: checkout

      - uses: actions/setup-java@v2
        name: set up jdk ${{matrix.java}}
        with:
          distribution: 'adopt'
          java-version: ${{matrix.java}}

      - name: build with maven
        run: mvn -B verify javadoc:javadoc --file pom.xml
